<navbar></navbar>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="assets/loader.gif" class="loader_img" *ngIf="!users" alt="">
      <table class="table orders" *ngIf="users">
          <thead>
              <tr>
                  <th>Facebook ID</th>
                  <th>User Name</th>
                  <th>User Email</th>
                  <th>User Phone</th>
                  <th>Discount</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let u of users; let i = index">
                  <td width="100">
                    {{u.FacebookId}}
                    <span *ngIf="!u.FacebookId">Не вошел через FB</span>
                  </td>
                  <td>{{u.UserName}}</td>
                  <td>{{u.Email}}</td>
                  <td>{{u.PhoneNumber}}</td>
                  <td>
                    <img src="assets/loader.gif" class="loader_img" *ngIf="u.dqLoad" alt="">
                    <div *ngIf="!u.dqLoad">
                      <span *ngIf="!u.editor">{{u.Discount}}</span>
                      <input type="text" [(ngModel)]="u.Discount" *ngIf="u.editor" value="{{u.Discount}}">
                    </div>
                  </td>
                  <td>
                      <button *ngIf="!u.Discount && !u.editor && !u.saling" class="btn btn-info" (click)="toSale( i, u.Id, u.Email )">Дать скидку</button>

                      <button *ngIf="u.Discount && !u.editor" class="btn btn-warning" (click)="u.editor = true">Изменить скидку</button>
                      <button *ngIf="u.Discount && u.editor" class="btn btn-success" (click)="saveSale( i, u.Discount, u.Id )">Сохранить скидку</button>
                  </td>
                  <!--<td>
                    <button class="btn btn-link" (click)="onEditProduct( p )">Редактировать</button>
                    <button class="btn btn-danger" (click)="deleteProduct( i, p.Id )">Delete</button>
                  </td>-->
              </tr>
          </tbody>
      </table>
    </div>

    <div class="col-md-3 col-md-offset-3">
      <sales (rmSaleUser)="rmSaleUser( $event )" [saleUsers]="saleUsers" (makingSale)="makeSale( $event )"></sales>
    </div>
  </div>
</div>