<navbar></navbar>


<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="product_editor">
        <div class="row">
          <div class="col-md-12">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default"
              [class.active]="isMain"
              (click)="isMain = true">Мясо</button>

              <button type="button" class="btn btn-default"
              [class.active]="!isMain"
              (click)="isMain = false">Фан-товар</button>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
              <input #productImage type="file"><br>
              <!--<button class="btn btn-success" (click)="addFile(productImage)" >Обновить картинку</button>-->
          </div>
        </div>
        <div class="row">
          <div class="col-md-4" [class.hidden]="!isMain">
            <label class="product_editor__label">
              Кол-во в коробке
              <input #productBoxAmount type="number" class="form-control" 
              value="{{ !isMain ? 0 : '' }}">
            </label>
          </div>
          <div class="col-md-4" [class.hidden]="!isMain">
            <label class="product_editor__label">
              Цена за коробку
              <input #productBoxPrice type="number" class="form-control"
               value="{{ !isMain ? 0 : '' }}">
            </label>
          </div>
          <div class="col-md-4">
            <label class="product_editor__label">
              Цена за штуку
              <input #productItemPrice type="number" class="form-control">
            </label>
          </div>
        </div>
        
        <br>
        <div class="row">
          <div class="col-md-12">
            <label class="product_editor__label">
              Название
            </label>
            <input #productName type="text" class="form-control">
            
            <label class="product_editor__label">
              Описание
            </label>
            <textarea #productDescription class="form-control" rows="5"></textarea>
            <label class="product_editor__label">
              URL
            </label>
            <input #productUrl [(ngModel)]="url" type="text" class="form-control">
          </div>
        </div>
        <br>
        <button class="btn btn-success btn-block" (click)="createProduct( productImage, productBoxAmount.value, productBoxPrice.value, productItemPrice.value, productName.value, productDescription.value, isMain )">Сохранить</button>
      </div>
    </div>
  </div>
</div>