<navbar></navbar>

<ul class="page_langs">
    <li class="page_langs__lang" [class.page_langs__lang--active]="l.Id === currLang" *ngFor="let l of langs" (click)="changeLang( l.Id )">{{l.Name}}</li>
</ul>

<br>
<br>
<br>
<div class="container">
    <img src="assets/loader.gif" class="loader_img" *ngIf="allLoad" alt="">
    <div class="row" *ngIf="!allLoad">
        <div class="col-md-8 col-md-offset-2" *ngFor="let t of pageData">
            <div *ngIf="t.LangId === currLang">
                <div class="unit_editor" *ngFor="let data of t.Units">
                    <p>{{data.Anchor}}</p>
                    <textarea class="unit_editor__textarea" class="form-control" rows="4" #newTrans>{{data.Value}}</textarea>
                    <button class="btn btn-success" (click)="setPageTrans( data.Id, newTrans.value )">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</div>