.page_langs
    width: 100%
    list-style-type: none
    margin: 0
    padding: 0
    background-color: #ddd
    text-align: center
    position: absolute
    top: 50px
    left: 0

.page_langs__lang
    display: inline-block
    padding: 20px 40px
    cursor: pointer
    &--active
        background: #000
        color: #fff

.unit_editor
    margin-bottom: 20px