<img src="assets/loader.gif" class="loader_img" *ngIf="!products" alt="">
<table class="table products" *ngIf="products">
    <thead>
        <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Name</th>
            <th>Descr</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products; let i = index">
            <td>{{p.Id}}</td>
            <td>
                <img src="http://objerkyua-001-site1.dtempurl.com/Content/img/Catalog/{{p.Id}}.jpg" width="70" alt="">
            </td>
            <td>{{p.Name}}</td>
            <td>
                <p class="products__descr">{{p.Description}}</p>
            </td>
            <td>
              <button class="btn btn-link" (click)="onEditProduct( p )">Редактировать</button>
              <button class="btn btn-danger" (click)="deleteProduct( i, p.Id )">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
