<section class="auth">
  <form class="auth_form" (ngSubmit)="login( authLogin.value, authPass.value )">
    <h3 class="text-center">Войти в админ-панель</h3>
    <input #authLogin type="text" class="form-control auth_form__input" placeholder="Логин">
    <input #authPass type="password" class="form-control auth_form__input" placeholder="Пароль">
    <button class="btn btn-success btn-block" type="submit">Войти</button>
    <p class="auth_form__error" *ngIf="errorMess">
      {{errorMess}}
    </p>
  </form>
</section>