.auth
    height: 100vh
    display: flex
    align-items: center
    justify-content: center

.auth_form
    width: 400px
    background-color: #EDEFF5
    padding: 10px 30px 30px 30px

.auth_form__input
    margin-bottom: 20px

.auth_form__error
    text-align: center
    margin-top: 10px
    color: red