<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">obJerky</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/slider">Слайдер</a></li>
        <li><a routerLink="/products">Продукты</a></li>
        <li><a routerLink="/orders">Заказы</a></li>
        <li><a routerLink="/users">Пользователи</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Страницы <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/page/layout">Шаблон</a></li>
            <li><a routerLink="/page/meat_index">Мясо</a></li>
            <li><a routerLink="/page/home_about">Об oбJerky</a></li>
            <li><a routerLink="/page/meat_product">Карточка товара</a></li>
            <li><a routerLink="/page/home_contact">Контакты</a></li>
            <li><a routerLink="/page/home_delivery">Доставка</a></li>
            <li><a routerLink="/page/account_signup">Регистрация</a></li>
            <li><a routerLink="/page/account_login">Вход</a></li>
            <li><a routerLink="/page/home_profile">Профиль</a></li>
            <li><a routerLink="/page/order_index">Заказ</a></li>
            <li><a routerLink="/page/order_result">Результат заказа</a></li>
            <li><a routerLink="/page/account_externalloginconfirmation">Ошибки валидации</a></li>
          </ul>
        </li>
        <li><a routerLink="/settings">Настройки</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>