.orders-item
    display: flex
    justify-content: space-between
    padding: 15px 20px
    border-bottom: 1px solid #eee
    >div
        width: 12%
        overflow-y: auto
    &--header
        font-weight: 700
        margin-bottom: 20px
        background-color: #eee
    