<img src="assets/loader.gif" class="loader_img" *ngIf="!orders" alt="">
<div *ngIf="orders">
    <div class="orders-item orders-item--header">
        <div class="orders-item__id">ID</div>
        <div>Имя</div>
        <div>Телефон</div>
        <div>E-Mail</div>
        <div>Адрес</div>
        <div>Дата и время</div>
        <div>Сумма</div>
        <div>Действие</div>
    </div>
    <div  *ngFor="let o of orders; let i = index">
        <div class="orders-item">
            <div class="orders-item__id">{{o.Id}}</div>
            <div class="orders-item__name">{{o.Name}}</div>
            <div class="orders-item__phone">{{o.Phone}}</div>
            <div class="orders-item__email">{{o.Email}}</div>
            <div class="orders-item__adress">{{o.Address}}</div>
            <div class="orders-item__date">{{o.Time | date: "short"}}</div>
            <div class="orders-item__sum">
                <strong>{{o.Sum}} грн.</strong>
            </div>
            <div class="orders-item__actions">
                <button class="btn btn-info" (click)=" more === i ? more = false : more = i">Подробнее</button>
            </div>
        </div>
        <order-details *ngIf="more === i && more !== false" [order]="o"></order-details>
    </div>
</div>
<!--<table class="table orders" *ngIf="orders">
    <thead>
        <tr>
            <th>ID</th>
            <th>User Name</th>
            <th>User Email</th>
            <th>User Phone</th>
            <th>User Adress</th>
            <th>Time</th>
            <th>Sum</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>-->
