<div  class="sale">
  <input type="number" [attr.disabled]="saleUsers[0] ? true : null" class="form-control" #fromSale placeholder="На сколько заказал"> <br>
  <input type="number" class="form-control" #sizeSale placeholder="Размер">
  <ul class="sale__users">
    <li class="sale__user" *ngFor="let su of saleUsers; let i = index;">
      <span *ngIf="su">{{su.email}}</span> <button (click)="rmUser( su.i, i )">RM</button>
    </li>
  </ul>
  <button class="btn btn-block btn-success" (click)="makeSale( sizeSale.value, fromSale.value )">Дать скидку</button>
</div>