.e_langs
    margin: 0
    padding: 0
    list-style-type: none
    &__lang
        padding: 10px 0
        &_img
            height: 30px
        &_name
            margin-left: 20px

.lang_add__error
    margin-bottom: 15px
    color: red