<ul class="e_langs">
  <li class="e_langs__lang" *ngFor="let l of langs; let i = index;">
    <img src="http://objerky.com/Content/img/icons/{{l.Id}}.svg" class="e_langs__lang_img" alt="">
    <span class="e_langs__lang_name">{{l.Name}}</span>
    <button (click)="rmLang(i, l.Id)">RM</button>
  </li>
</ul>
<button class="btn btn-success" (click)="adding ? adding = false : adding = true" *ngIf="!adding">Добавить язык</button>
<div class="lang_add" *ngIf="adding">
  <input type="file" #newLangImg> <br>
  <input type="text" #newLangName class="form-control" placeholder="Имя"> <br>
  <input type="text" #newLangCode class="form-control" placeholder="Код"> <br>
  <p class="lang_add__error" *ngIf="errMess">{{errMess}}</p>
  <button class="btn btn-success" (click)="addLang( newLangImg, newLangName.value, newLangCode.value )">Добавить</button>
</div>