<navbar></navbar>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-success" routerLink="/newproduct">Добавить продукт</a> <br>
            <products-list (editProduct)="editProduct( $event )"></products-list>
        </div>
        <div class="col-md-6">
            <product-editor [product]="selectedProduct"></product-editor>
        </div>
    </div>
</div>