<div class="product_editor" *ngIf="product">
  <div class="row">
    <div class="col-md-2">
      <img src="http://objerkyua-001-site1.dtempurl.com/Content/img/Catalog/{{product.Id}}.jpg" class="img-responsive" alt="">
    </div>
    <div class="col-md-3 col-md-offset-1">
        <input #productImage type="file"><br>
        <button class="btn btn-success" (click)="addFile(productImage)" >Обновить картинку</button>
    </div>
  </div>
  <img src="assets/loader.gif" class="loader_img" *ngIf="loadRus" alt="">
  <div *ngIf="!loadRus">
    <div class="row">
      <div class="col-md-4">
        <label class="product_editor__label">
          Кол-во в коробке
          <input #productBoxAmount type="number" class="form-control" value="{{product.BoxAmount}}">
        </label>
      </div>
      <div class="col-md-4">
        <label class="product_editor__label">
          Цена за коробку
          <input #productBoxPrice type="number" class="form-control" value="{{product.BoxPrice}}">
        </label>
      </div>
      <div class="col-md-4">
        <label class="product_editor__label">
          Цена за пачку
          <input #productItemPrice type="number" class="form-control" value="{{product.ItemPrice}}">
        </label>
      </div>
    </div><br>
    <img src="assets/loader.gif" class="loader_img" *ngIf="loadAll" alt="">
    <div *ngIf="!loadAll">
      <div class="row">
        <div class="col-md-12">
          <label class="product_editor__label">
            Название
          </label>
          <input #productName type="text" class="form-control" value="{{product.Name}}">
          
          <label class="product_editor__label">
            Описание
          </label>
          <textarea #productDescription class="form-control" rows="5">{{product.Description}}</textarea>
          <label class="product_editor__label">
            URL
          </label>
          <input #productUrl [(ngModel)]="product.Url" type="text" class="form-control">
        </div>
      </div>
    
    
      <langs-switcher [productId]="product.Id" (switchingLang)="switchLang( $event )"></langs-switcher><br>
      <button class="btn btn-success btn-block" (click)="saveProduct( productBoxAmount.value, productBoxPrice.value, productItemPrice.value, productName.value, productDescription.value )">Сохранить</button>
    </div>
  </div>
</div>