<navbar class="fixed_navbar"></navbar>
<ul class="slider_btns">
  <li *ngFor="let s of slides, let i = index" (click)="getSlide(s)" [class.curr_slide]="currSlide === s">
    Слайд {{i}} <button (click)="rmSlide( i )" class="remove_slide">&times;</button>
  </li>
  <li data-toggle="modal" data-target="#newSlideModal">
    Добавить слайд
  </li>
</ul>
<section class="start_s">

  <div class="start_slides">

    <div class="pack_block">
      <!--<img src="img/cabanos_arr.png" class="prevSlide slider_arr" alt="">-->
      <label>
        <input #arrowImg class="op0" type="file" (change)="addFile(arrowImg, 'arrow')">
        <img src="http://objerkyua-001-site1.dtempurl.com/Content/img/Slider/arrow-{{currSlide}}.png" class="nextSlide slider_arr" alt="">
      </label>
      <div class="pack_img_block" data-toggle="modal" data-target="#myModal">
        <img class="img_front" src="http://objerkyua-001-site1.dtempurl.com/Content/img/Slider/head-{{currSlide}}.png" alt="">
        <img class="img_back" src="http://objerkyua-001-site1.dtempurl.com/Content/img/Slider/back-{{currSlide}}.png" alt="">
      </div>
      <label>
        <input class="op0" type="file" (change)="addFile(islandImg, 'island')">
        <img #islandImg src="http://objerkyua-001-site1.dtempurl.com/Content/img/Slider/island-{{currSlide}}.png" class="island_img" alt="">
      </label>
    </div>

  </div>
</section>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Картинки укпаковки ( перед, зад )</h4>
      </div>
      <form class="modal-body" method="POST" enctype="multipart/form-data">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <label>
              Перед
              <input type="file" (change)="addFile(frontImg, 'head')" #frontImg>
            </label><br><br>
            <label>
              Зад
              <input type="file" (change)="addFile(backImg, 'back')" #backImg>
            </label><br><br>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="modal fade" id="newSlideModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Картинки укпаковки ( перед, зад )</h4>
      </div>
      <form class="modal-body" >
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <label>
              Перед
              <input type="file" #newFrontImg>
            </label><br><br>
            <label>
              Зад
              <input type="file" #newBackImg>
            </label><br><br>
            <label>
              Срелка
              <input type="file" #newArrowImg>
            </label><br><br>
            <label>
              Остров
              <input type="file" #newIslandImg>
            </label><br><br>
            <!--<input type="submit" class="btn btn-success btn-block" value="Добавить слайд">-->
            <button class="btn btn-success btn-block" (click)="newSlide( { name: 'front', img: newFrontImg }, { name: 'back', img: newBackImg }, { name: 'arrow', img: newArrowImg }, { name: 'island', img: newIslandImg } )">Добавить слайд</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>