.start_s
	height: 100vh
	background-image: url('assets/sky.jpg')
	background-size: cover
	width: 100%
	overflow: hidden
.start_slides
	position: relative
	display: flex
.pack_block
	text-align: center
	transform: scale(1)
	transition: all .5s
	position: relative
	margin: 0 auto
	.island_img
		width: 70%
		transition: all .5s
		@media only screen and (max-width : 480px)
			width: 100%
			transform: translateY(50px)

.slider_arr
	position: absolute
	top: 30%
	cursor: pointer
	z-index: 100
	transition: all .5s
	@media only screen and (max-width : 480px)
		top: 50%
		width: 90px
.nextSlide
	right: 7%
	@media only screen and (max-width : 480px)
		right: 0
.prevSlide
	left: 7%
	@media only screen and (max-width : 480px)
		left: 0

.pack_img_block
	text-align: center
	transform: translateY(130px)
	transition: all .5s
	position: relative
	z-index: 1
	width: 20%
	margin: 0 auto
	display: block
	@media only screen and (max-width : 480px)
		width: 50%
	img
		width: 100%
		transition: all .5s
	.img_back
		position: absolute
		top: 0
		left: 0
		z-index: -1
		transform: rotateY(180deg)
		opacity: 0
	&:hover
		.img_front
			transform: rotateY(180deg)
			opacity: 0
		.img_back
			opacity: 1
			transform: none
			width: 150%
			left: -25%


.slider_btns
	position: fixed
	top: 50px
	left: 0
	width: 100%
	list-style-type: none
	margin: 0
	padding: 0
	text-align: center
	background-color: #fff
	z-index: 100
	>li
		padding: 20px
		display: inline-block
		cursor: pointer
		background-color: #ddd


.remove_slide
	background-color: #000
	border: none
	color: #fff
	font-size: 10px
	width: 30px
	height: 30px
	line-height: 30px
	text-align: center
	cursor: pointer

.curr_slide
	box-shadow: inset 0 0 10px -3px