/* You can add global styles to this file, and also import other style files */
.loader_img{
    width: 50px;
    margin: 20px 0;
}

.op0{
    opacity: 0;
}

.fixed_navbar{
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.hidden{
    display: none !important;
}