.order
    padding: 20px
    background-color: #eee
    display: flex
    &-products
        margin-left: 40px
        &__item
            padding: 10px 0
            display: flex
            align-items: center
            // justify-content: space-between
            border-bottom: 1px solid transparentize(#000, .8)
            &:last-child
                border-bottom: none
            &-img
                width: 30px
            &-name
                font-weight: 700
                margin: 0 20px
            &-amount
                font-weight: 700
                font-size: 18px
    &-info
        &__item
            margin: 10px 0