<div class="order" *ngIf="order">
    <div class="order-info">
        <strong>Информация о пользователе:</strong>
        <div *ngIf="order.User">
            <div class="order-info__item">
                Имя: {{order.User.UserName}}
            </div>
            <div class="order-info__item">
                Телефон: {{order.User.PhoneNumber}}
            </div>
            <div class="order-info__item">
                E-Mail: {{order.User.Email}}
            </div>
            <div class="order-info__item">
                Скидка: {{order.User.Discount}}%
            </div>
            <div class="order-info__item">
                Facebook: <span *ngIf="order.User.FacebookId">{{order.User.FacebookId}}</span>
                <span *ngIf="!order.User.FacebookId">Не вашел через FB</span>
            </div>
        </div>
        <div *ngIf="!order.User">
            Пользователь не авторизирован
        </div>
    </div>
    <div class="order-products">
        <strong>Товары:</strong>
        <div class="order-products__item" *ngFor="let prod of order.Products">
            <img class="order-products__item-img" src="http://objerkyua-001-site1.dtempurl.com/Content/img/Catalog/{{prod.Product.Id}}.jpg" alt="">
            <div class="order-products__item-name">{{prod.Product.Name}}</div>
            <div class="order-products__item-amount">{{prod.Amount}} шт.</div>
        </div>
    </div>
</div>