<navbar></navbar>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="settings_block">
        <h3 class="settings_block__title">Языки</h3>
        <lang-editor></lang-editor>
      </div>
    </div>
  </div>
</div>